<p id="notice"><%= notice %></p>
<!--Navbar-->
<%= render 'contentwebs/navbarcontent'%>

<!--Hero-->


<%= render 'contentwebs/herocontent'%>
<%= render 'contentwebs/featurescontent'%>
<%= render 'contentwebs/productcontent'%>
<!--Première description-->


<!--Card 1-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">Vos points forts</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>

<!--Card 2-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">Vos points forts 2</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>

<!--Card 3-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">vos points forts 3</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>

<!--Card 4-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">vos points forts 4</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>


<!--Card 5-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">vos points forts 5</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>

<!--Card 6-->
<div class="flex mx-32 w-3/4 bg-gray-200 my-24">
   <div class=" mr-0 h-1/2 w-96">
        <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
   </div>
   <div class="px-12">
        <h4 class="text-center text-3xl font-bold">Titre en gras </h4>
        <h4 class="text-center text-xl font-bold">vos points forts 6</h4>
        <p class="px-8 py-4 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam.Lorem ipsum dolor q
             

        </p>
   </div>
</div>

<!--Blogs-->

<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h2 class="text-2xl font-extrabold text-gray-900">Collections</h2>

      <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full h-full object-center object-cover">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Desk and Office
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Work from home accessories</p>
        </div>

        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-02.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full h-full object-center object-cover">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Self-Improvement
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
        </div>

        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-03.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full h-full object-center object-cover">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Travel
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 class=" text-3xl ">Contentwebs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
       <% @contentwebs.each do |contentweb| %>
              <tr>
                <td><%= link_to 'Show', contentweb %></td>
                <td><%= link_to 'Edit', edit_contentweb_path(contentweb) %></td>
                <td><%= link_to 'Destroy', contentweb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
   
  </tbody>
</table>

<br>

<%= link_to 'New Contentweb', new_contentweb_path %>
