<p id="notice"><%= notice %></p>
<!--Navbar-->

<%= render 'contentwebs/navbarcontent'%>

<!--Hero-->


<%= render 'contentwebs/herocontent'%>
<%= render 'contentwebs/featurescontent'%>
<%= render 'contentwebs/productcontent'%>
<%= render 'contentwebs/stepscontent'%>
<%= render 'contentwebs/teamcontent'%>
<%= render 'contentwebs/blogcontent'%>
<%= render 'contentwebs/faqcontent'%>
<!--Première description-->



<!--Blogs-->




