<div class='w-full primary lg:block h-full'>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
    <div class=" mb-10 md:mx-auto sm:text-center  md:mb-12 text-center">
        <h2 class=" inline-block max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight  sm:text-4xl md:mx-auto md:text-center">
          
          <span class="text-gray-50"> Générer de nouveaux clients n'a jamais été aussi simple</span>
        </h2>
      </div>
    
  </div>
  <div class="grid gap-8 row-gap-5 mb-8 lg:grid-cols-3 lg:row-gap-8">
    <div>
      
     <%= image_tag "choose-plan.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>

      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>1.</span> Choix de l'abonnement
      </p>
      <p class="text-gray-50">
        Prenez l'abonnement qui répond aux besoins de votre entreprise.
      </p>
    </div>
    <div>
      <%= image_tag "team-meeting.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>2.</span> Prise de contact
      </p>
      <p class="text-gray-50">
        Un développeur qui sera votre référent durant la mise en place du site internet va prendre contact avec vous.
      </p>
    </div>
    <div>
      <%= image_tag "data-processing.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>3.</span> Transfert de données
      </p>
      <p class="text-gray-50">
        Grâce à notre plateforme internet connecter vous pour nous transférer les données nécéssaires à la création de votre site (images , textes etc.)
      </p>
    </div>
    <div>
      <%= image_tag "web-production.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>4.</span> Création du site web
      </p>
      <p class="text-gray-50">
        Une fois les données transmises à notre entreprise, nos équipes de développeurs peuvent passer à la phase de conception du site internet.
      </p>
    </div>
    <div>
      <%= image_tag "communication.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>5.</span> Derniers réglages
      </p>
      <p class="text-gray-50">
        Une première version de votre site internet vous est transmise. Vous pourrez nous donner votre retour et les derniers changements à effectuer.
      </p>
    </div>
    <div>
      <%= image_tag "visibility.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>6.</span> Votre site est en ligne
      </p>
      <p class="text-gray-50">
        Votre site vitrine est mis en ligne, votre entreprise entre dans la sphère internet pour mettre votre activité en lumière !
      </p>
    </div>
    <div>
      <%= image_tag "seo.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>7.</span> Optimisation SEO
      </p>
      <p class="text-gray-50">
        Le site fourni est optimisé SE0 et notre équipe de journaliste SEO prennent le relais afin d'écrire hébdomairement le nombre d'articles correspondant à votre abonnement.
      </p>
    </div>
    <div>
      <%= image_tag "social-media.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>8.</span> Gestion réseaux sociaux
      </p>
      <p class="text-gray-50">
        Notre équipe de Community Manager prennent le relais pour la gestion des réseaux sociaux (Instagram, Facebook)
      </p>
    </div>
    <div>
      <%= image_tag "results.svg", :class => 'object-cover objet-center w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 bg-black px-2' %>
      <p class="mb-2 text-xl font-bold leading-none sm:text-2xl text-gray-50">
        <span class='text-gray-900'>9.</span> Découvrez les resultats
      </p>
      <p class="text-gray-50">
        L'ensemble de ses mesures vont vous permettre de gagner en visibilé, de générer du traffic sur votre site et générer de nouveaux prospects (Installer vous comfortablement et laisser vous guidez par nos équipes).
      </p>
    </div>
  </div>
  
</div>
</div>