<%# <%= javascript_tag do %>
  <%# var tokkens = <%= raw(get_facebook.to_json) %>
<% #end %> 

<div>
  <%= javascript_pack_tag 'hello_react' %>
  <%= render "static/first-dashboard" %>
  <%= javascript_pack_tag do%>
    <% var avatar = current_user.avatar %>
  <% end %>
  <div id="testReact" data-avatar="<%= current_user.avatar %>"></div>
</div>