<p id="notice"><%= notice %></p>

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded shadow-sm lg:flex-row sm:mx-auto">
    <div class="relative lg:w-1/2">
      <img src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" class="object-cover w-full lg:absolute h-80 lg:h-full" />
      <svg class="absolute top-0 right-0 hidden h-full text-white lg:inline-block" viewBox="0 0 20 104" fill="currentColor">
        <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
      </svg>
    </div>
    <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2">
      <div>
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          <%= @word.body %>
        </p>
      </div>
      <h5 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl">
        <%= @word.title %>
      </h5>
      <p class="mb-5 text-gray-800">
        <%=@word.content%>
      </p>
      <p class="mt-2 mb-5 text-gray-200 italic">
        écrit par <span class='primary-hover'><%=@word.user_id%></span>
      </p>
      <div class="flex items-center">
      <%= link_to  user_words_path(@user) do %>
        <button
          type="submit"
          class="inline-flex items-center justify-center mr-6 font-medium tracking-wide text-white transition duration-200 rounded-full shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
        </svg>
        </button>
      <% end %>
        <%= link_to edit_user_word_path(@user,@word) do%> 
          <div  class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800 ml-2">
            Éditer
            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
