<!DOCTYPE html>
<html>
  <head>
    <title>Leadcollector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
       <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
       <script type="text/javascript">(function(){emailjs.init("YOUR_USER_ID");})();</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   

  </head>
   
 <body>
 
 
  
  
  <nav
  x-data="{ isOpen: false }"
  @keydown.escape="isOpen = false"
  :class="{ 'shadow-lg bg-indigo-900' : isOpen , 'bg-blue-600' : !isOpen}"
  >
      <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
        <div class="relative flex items-center justify-between">
          <a
            href="/"
            aria-label="Lead Collector"
            title="Lead Collector"
            class="inline-flex items-center"
          >
            <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" class="w-12">
              <image href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAflBMVEX////41eX2yN398/eA eux6c+vtk7vkXJj2yd3jWJbbJ3f3zd9VTeZPRuX39/7nbqPzt9HjWZbjWZfdMn73zuBcU+f40eLl ZJ398vfqgrD52uj1wNfhTI7nb6XiUZHdNoDzt9L52+j87fTn5vxqY+nZ2PpWTeb5+P7V0vnT0Pka INdCAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB+UMFhAjOcdVmcoA AAZESURBVHja7dhJkxtVEIVRsIHGZvLEPM/w//8gLFpEEHZGON2l1rXuOctavIxXn3JReucdAAAA AAAAAAAAAAAAAN4y7z44l4eXvtqdvPf+Gc1jP7g5ow9PUx49PpePLt3tTj7+5Iw+Hcd+drYc/3oi uuiiiy666KKLLrroor9t0Z/ePnh22Nfg89sTX1y62xHRPz/00NeP/sWRY7+cNv2rw0acfkZXsemi vx7RR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXR R6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6Jn E31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F 9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo 2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2SqiH0/0l4ieTXTRjyF6NtFFP4bo2UQX/Rgp0b++ OZdvDs5wv646Oq8meiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiF7rq6O8+OJeHB2e4X1cd/dHjc/no4Az3S3TRjyF6NtFFP4bo2UQX/RiiZ7vq6E9vHzy7Ocrz 2xNfHJzhfl119NOmf3XYiKc2fSJ6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30 FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFH omcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcT fUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0 kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnu2qo58SffvgKN/dnvji 4Az360LRv799eT/cHOjH20N/Ok05bfrxbPpLXn/Tz+LJaYrorya66McQPZvooh9D9Gyii36MlOhf H/lB+D/fXLrbnVwo+s+H/V3yCr9c+qWmu1B0Lkn0QqIXEr2Q6IVELyR6IdELiV5I9EKiFxK9kOiF RC8keiHRC4leSPRCohcSvZDohUQvJHqhe4r+6yfX5bdLd7sT0UU/hujZRBf9GKJnE130Y4ieTXTR jzFHf//S972j30WfiJ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URf EX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0k ejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbR V0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0Qf iZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE33lOqL/capxpFP0P/8bc4p+Ld7u 6B+f89W8vOnXQvSR6JlEfyOij0TPJPobEX0keibR38jbHf2vv8/o0pcDAAAAAAAAAAAAAAAAAAAA AAAAAAAAAACu1T+IgN7dH1NxMgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0xMi0yMlQxMzozNTo1 NyswMzowMJkHNdgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTItMjJUMTM6MzU6NTcrMDM6MDDo Wo1kAAAAAElFTkSuQmCC" />
            </svg>
            <span class="ml-2 text-xl font-bold tracking-wide text-gray-50 uppercase">
              Lead Collector
            </span>
          </a>
          
          <ul class="flex items-center hidden space-x-8 lg:flex" :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
          @click.away="isOpen = false"
          x-show.transition="true">
            <li>
              <a
                href="/"
                aria-label="Our product"
                title="Our product"
                class="font-medium tracking-wide text-gray-50 transition-colors duration-200 hover:text-pink-600"
                @click="isOpen = false"
              >
                Product
              </a>
            </li>
            <li>
              <a
                href="/"
                aria-label="Our product"
                title="Our product"
                class="font-medium tracking-wide text-gray-50 transition-colors duration-200 hover:text-pink-600 inline-block py-2 px-4 text-white no-underline"
                  @click="isOpen = false"
              >
                Features
              </a>
            </li>
            <li>
              <a
                href="/"
                aria-label="Product pricing"
                title="Product pricing"
                class="font-medium tracking-wide text-gray-50 transition-colors duration-200 hover:text-pink-600"
                  @click="isOpen = false"
              >
                Pricing
              </a>
            </li>
            <li>
              <a
                href="/"
                aria-label="About us"
                title="About us"
                class="font-medium tracking-wide text-gray-50 transition-colors duration-200 hover:text-pink-600"
                  @click="isOpen = false"
              >
                About us
              </a>
            </li>
          </ul>
          <ul class="flex items-center hidden space-x-8 lg:flex">
            <li>
              <a
                href="/"
                class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-p hover:bg-pink-700 focus:shadow-outline focus:outline-none"
                aria-label="Sign up"
                title="Sign up"
                @click="isOpen = false"
              >
                Sign up
              </a>
            </li>
          </ul>
         
          <button
          @click="isOpen = !isOpen"
          type="button"
          class="block lg:hidden px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white"
          :class="{ 'transition transform-180': isOpen }"
        >
          <svg
            class="h-6 w-6 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              x-show="isOpen"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
            />
            <path
              x-show="!isOpen"
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            />
          </svg>
        </button>
        </div>
      </div>
    </nav>




    <%= yield %>
  </body>
</html>
