<!DOCTYPE html>
<html>
  <head>
    <title>Leadcollector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
       <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
       <script type="text/javascript">(function(){emailjs.init("YOUR_USER_ID");})();</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   

  </head>
   
 <body>
  <div class='Navbar h-20 w-full justify-between flex  font-bold bg-black'>
    <div class="text-white text-2xl  ml-4 mt-6 font-bold">
       LeadCollector
    </div>
    <% if current_user %>
      <%= button_to "logout", destroy_user_session_path, method: :delete, class: "text-center text-3xl text-red-900 font-bold "  %>
    <%else%>
       <%= link_to "login", new_user_session_path , class: "text-center text-3xl text-yellow-800" %>
    <%end%>
    
    <div class=" flex justify-between ">
    <a href="/" class=' mt-8 mr-4 text-white'>Home</a>
    <a href="/about" class=' mr-4 mt-8 text-white'>Qui sommes nous ?</a>
    <a href="/product" class=' mt-8 mr-4 text-white'>Produit</a>
    <a href="/dashboard" class='mr-4 mt-8 text-white'>Dashboard</a>
    <a href="/contact" class=' mr-4 mt-8 text-white'>Contact</a>
    <a href="/index" class='mr-4 mt-8 text-white'>Admin</a>
   </div>
</div>


 </nav>

    <%= yield %>
  </body>
</html>
